/* VERSION 1.0.4 */
/* DEFAULTS */
/* COMPONENTS */
.stop-scroll {
  overflow: hidden;
}

.blackout {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 9001;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
}

#fullscreenload {
  display: none;
  z-index: 9997;
}
#fullscreenload span {
  display: block;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9998;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
}
#fullscreenload img {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  z-index: 9999;
}

.close {
  display: block;
  float: right;
  height: 32px;
  width: 32px;
  font-size: 32px;
  line-height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

/* MODAL */
.modal-holder {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9002;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-holder .modal-wrap {
  width: 420px;
  margin-left: -210px;
  top: 50px;
}
.modal-holder .modal-wrap .modal {
  min-height: 200px;
}
.modal-holder .modal-wrap {
  position: relative;
  left: 50%;
  z-index: 9003;
  overflow: visible;
  padding-bottom: 50px;
}
.modal-holder.twitter-blue .modal-wrap .modal h1 {
  color: #00B0FD;
  border-bottom: solid 1px #00B0FD;
}
.modal-holder.twitter-blue .modal-wrap .modal .close {
  color: #00B0FD;
}
.modal-holder.facebook-blue .modal-wrap .modal h1 {
  color: #3B5B99;
  border-bottom: solid 1px #3B5B99;
}
.modal-holder.facebook-blue .modal-wrap .modal .close {
  color: #3B5B99;
}
.modal-holder.red .modal-wrap .modal {
  background-color: #9B3333;
}
.modal-holder.red .modal-wrap .modal h1 {
  color: white;
  border-bottom: solid 1px white;
}
.modal-holder.red .modal-wrap .modal .close {
  color: white;
}

.modal {
  position: static;
  margin: 0;
  z-index: 9004;
  padding: 10px;
  border-radius: 3px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: 0 10px 15px -5px black;
}
.modal h1 {
  color: black;
  font-size: 32px;
  line-height: 32px;
  min-height: 32px;
  border-bottom: solid 1px black;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
}
.modal p {
  line-height: 1.3em;
  font-size: 1em;
  margin-bottom: 1em;
}

@media screen and (max-width: 442.10526px) {
  .modal-holder .modal-wrap {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    left: auto;
    top: auto;
    position: relative;
  }
}
